<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

	<!-- Navbar menu located in layouts -->
	<nav th:replace="layouts :: navbar"></nav>
<div class="container">
		<h2>Welcome to the SportFishing Repo! </h2>
	<h5>Record and store data from your favorite fishing locations and return 
	when the water, weather conditions, and date are perfect for your favorite spots.</h5>
		<!-- Different Rover Buttons th:field="${}"-->
	<form method="get" th:action="@{/location/map}" id="coordinates">
  		<div class="form-row">
   			 <div class="col">
      			<input type="text" th:name="lat" class="form-control" placeholder="Latitude">
    		</div>
   		 	<div class="col">
      			<input type="text" th:name="lon" class="form-control" placeholder="Longitude">
    		</div>
    		<div class="col">
    			<button type="submit" class="btn btn-secondary" id="locationForecast">Submit</button>
    		</div>
  		</div>
	</form>
</div>	

</body>
</html>