
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layouts :: header">

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/static/map.js"></script>

</head>

<body>

<!-- Navbar menu located in layouts -->
<nav th:replace="layouts :: navbar"></nav>


<div class="container" >
	

	<div class="row" th:object="${weatherData}">
			<div class="col-md-6">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">Latitude:   <a th:text="*{lat}" id="lat"></a></li>
				  <li class="list-group-item">Longitude:   <a th:text="*{lon}" id="lon"></a></li>
				  <li class="list-group-item">Timezone:   <a th:text="*{timezone}"></a></li>
				 
				  <li class="list-group-item">Sunrise:   <a th:text="*{current.sunrise}"></a></li>
				  <li class="list-group-item">Sunset:   <a th:text="*{current.sunset}"></a></li>
				  <li class="list-group-item">UV Index:   <a th:text="*{current.uvIndex}"></a></li>
				  <li class="list-group-item">Clouds:   <a th:text="*{current.clouds}"></a> %</li> 
				  <li class="list-group-item">Visibility:   <a th:text="*{current.visibility}"></a> km</li>
				  <li class="list-group-item">Dew Point:   <a th:text="*{current.dewPoint}"></a> &#176;F</li> 
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">Temperature:   <a th:text="*{current.temp}"></a> &#176;F</li>
				  <li class="list-group-item">Feels Like:   <a th:text="*{current.tempFeelsLike}"></a> &#176;F</li>
				  <li class="list-group-item">Weather Type:   <a th:text="*{current.weather.get(0).weatherType}"></a></li>
				  <li class="list-group-item">Weather Description:   <a th:text="*{current.weather.get(0).description}"></a></li>
				  <li class="list-group-item">Humidity:   <a th:text="*{current.humidity}"></a> %</li>
				<!-- <li class="list-group-item">Rain in Last Hour:   <a th:text="*{current.rain.oneHourOfRain}"></a> mm</li> -->
				  <li class="list-group-item">Pressure:   <a th:text="*{current.pressure}"></a> hPa</li>
				  <li class="list-group-item">Wind Speed:   <a th:text="*{current.windSpeed}"></a> mph</li>
				  <li class="list-group-item">Wind Gusts:   <a th:text="*{current.windGust}"></a> mph</li>
				  <li class="list-group-item">Wind Dir:   <a th:text="*{current.windDirection}"></a> &#176;</li>
				
				   
				  
				</ul>
			</div>
		</div>
	<!-- Google JS Map -->
 

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <div id="map"></div>
     <script th:inline="javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFLLDu5X_lK1h3xEAdSqheZ54FRQlKiJw&callback=initMap&libraries=&v=weekly"
    async></script>
  
   
    
</div>

</body>
</html>