<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{../static/style.css}">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<!-- Proper way to isolate a code fragment to use in other html pages -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/fishforecast-logo.svg}"/> FishForecast
    </a>
    <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Journal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user}">Account</a>
            </li>
        </ul>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/login}" type="button">Login</a>
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/signup}" type="button">Signup</a>
    </div>
</nav>

<!--USER HOME NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="user-navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/fishforecast-logo.svg}"/> FishForecast
    </a>
    <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Journal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/logout}" type="button">Logout</a>
    </div>
</nav>

</html>