<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layouts :: header"></head>
<link rel="stylesheet" th:ref="@{/static/css/style.css}"/>
<body>

<!-- Navbar menu located in layouts -->
<nav th:replace="layouts :: navbar"></nav>
<div class="jumbotron" style="background-color: lightcyan;">

    <h1 class="display-4"
        style="font-family: 'Helvetica Neue', 'Helvetica',sans-serif; font-weight: bold; margin: 0 1.2rem;">
        Tired of Going Fishing & Never Getting A Bite?</h1>
    <p class="lead">Fish4Cast works by asking you to log a report on each location you fish, then we analyze the
        weather and ocean data to determine if the conditions were the reason you limited out or were skunked!
        The more reports we receive the more accurate we will be when we are able to reccommend locations for you to
        fish.</p>
    <hr class="my-4">
    <p>In fact we are building a model from everyone's reports in order to know what conditions the fish like in certain
        spots,
        so you know before leaving the dock or walking to the shore that the fish will be biting!!</p>
    <a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" th:href="@{/signup}" role="button">Signup</a>
</div>


</body>
</html>